body
{
  text-align: center;
  padding: 30px;
}

h1
{
  font-family: "News Cycle", sans-serif;
  text-transform: uppercase;
  margin-bottom: 0;
}

span.sprint-name
{
  font-family: "News Cycle", sans-serif;
  font-size: 75px;
  display: inline-block;
  margin-bottom: 25px;
}

a
{
  font-family: "News Cycle", sans-serif;
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

.footer a
{
  display: block;
}
